.obstacle-container {
  position: absolute;
  height: 100%;
  /* transition: top 2s ease-in-out; */
}

.obstacle {
  position: relative;
  top: 0px;
  background-color: green;
  /* width: 0px;
  height: 0px;
  left: 0px; */
}